<div class="brows_panel" id="brows_panel_<%=id%>">
	<div class="brows_container" id="brows_container_<%=id%>">
		<%
			for(var i=0;i<105;i++){
		%>
			<a tag="<%=i%>"></a>
		<%
			}
		%>
	</div>
</div>
