<div id="login" class="login">
	<div class="qq_logo"></div>
	<div class="qq_userName">账    号 <input type="text" id="txt_userName" class="input_text" value="254541843" /></div>
	<div class="qq_password">密    码 <input type="text" id="txt_password" class="input_text" value="1" /></div>
	<div><input type="button" id="btn_login" /></div>
</div>