   <div id="main">
   	 <div class="main_top" id="main_top">
   	 	<div class="title"></div>
   	 	<div><a id="main_close"></a></div>
   	 </div>
   	 <div class="qq_info">
   	 	<div class="qq_info_left">
   	 		<div id="qq_face"><img /></div>
   	 	</div>
   	 	<div class="qq_info_right">
   	 		<div id="qq_nickName"></div>
   	 		<div id="mood"></div>
   	 	</div>  
   	 </div>
   	 <div class="qq_toolbar">
	   	
   	 </div>
   	 <div class="search">
   	 	<input type="text" id="txt_searchBox" />
   	 </div>
   	 <div class="tab">
   	 	<div>
   	 		<div class="tab_friends"></div>
   	 	</div>
   	 	<div>
   	 		<div class="tab_groupList"></div>
   	 	</div>
   	 	<div>
   	 		<div class="tab_recentList"></div>
   	 	</div>
   	 </div>
   	 <div id="friend_list">
       	
     </div>
     <div class="main_buttom">
     	 <div id="main_search_friend">
     	  	 <div></div>查找
     	 </div>
     </div>
   </div>