<div id="search_friend">
	<div id="search_friend_title_bar">
		<div class="search_friend_title">查找好友</div>
		<a id="search_friend_close"></a>
	</div>
	<span>查询结果：</span>
	<div id="search_friend_container"></div>
</div>