<div class="search_friend_infor">
	<div class="search_friend_infor_faceimg">
		<img src="data:image/jpg;base64,<%=qq.faceImg%>" />
	</div>
	<div>
		<div><%=qq.nickName%></div>
		<div><%=qq.userName%></div>
	</div>
	<div>加为好友</div>
</div>